.hero-image {
  background-image: linear-gradient(rgba(16, 23, 41, 1), rgba(256, 256, 256, .1)), url("../../images/pang-yuhao.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.landing-pg-carousel {
	text-align: center;
	width: 80%;
}

/*class form slick slider package*/
.slick-slider { 
  margin-top: 8%;
}
.slick-slider:hover { 
  cursor: pointer;
}


.carousel-text {
	color: white;
	margin-bottom: 5%;
}

.carousel-text h2{ 
  color: white;
  margin-bottom: 5%;
  font-size: 2.5rem;
}

