.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.layout {

  min-height: 100vh;
  background-color: #000c18;
  /*there is a stutter when pressing buttons and it seem that adding padding fixes it.*/
  /*padding: 10px;*/
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  color: white;
}

.container {
  padding: 20px;
}
